{% extends "base.html" %}
{% load static %}

{% block page_title %}
    My stored posts
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
    <link rel="stylesheet" href="{% static "blog/includes/header.css" %}">
{% endblock %}

{% block content %}
    {% include "./includes/header.html" %}
    
    <div>
        <section id="stored-posts">
            {% if not has_posts %}
                <p>You didn't save any post yet.</p>
            {% endif %}
            <ul>
                {% for post in posts %}
                    <li><a href="{% url "post-detail" post.id %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </div>
{% endblock %}

